
.mat-cell{
    font-size: 14px;
}

.mat-header-cell,.mat-cell{
  flex: 13.3%;
}
.mat-header-cell:first-child,.mat-cell:first-child{
    flex:10% !important;
}
.mat-footer-row, .mat-header-row, .mat-row{
    background: #fff;
    margin-bottom: 0.3rem;
    border-radius: 4px;
    padding: 10px 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
