$primary: #034AD8;
$grey: #ddd;
$green: #0CB30C;
.details{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
    padding: 1rem .7rem;
    .head-text::before{
        content: '';
        position: absolute;
        height: 4px;
        margin-top: 2rem;
        width: 80px;
        background: $primary;
    }
}
.intro{
    align-items: flex-end;
    .buttons{
        justify-content: flex-end;
    }
    .btn{
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .mat-icon{
        height: 14px;
        width: 14px;
        font-size: 14px;
        margin-right: 3px;
    }
}
.avatar{
    display: flex;
    justify-content: center;
    mat-icon.taxi_img{
        width: 15rem;
        height: 15rem;
        height: 2;
        border-radius: 150%;
        color: #034ad82b;
        background: #F4F7F8;
        font-size: 13rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    mat-icon.status_badge{
        position: absolute;
        top: 2rem;
        margin-left: 90px;
    }
}

.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item{
    margin-right: 3rem;
}
.nav-tabs .nav-link {
    display: block;
    padding: .5rem 0;
}
.nav-tabs .nav-link:hover{
    border: none;
}
.nav-tabs .nav-link:nth-child(1){
    padding: .5rem 0;
}
.nav-tabs a{
    color: #505050;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: $primary;
    background: none !important;
    border: none !important;
}
.nav-tabs .nav-item.show .nav-link::before,
.nav-tabs .nav-link.active::before {
  content: "";
  background: $primary;
  width: 100px;
  height: 3px;
  position: absolute;
  margin-top: 1.8rem;
}
.nav-tabs .nav-link:hover{
    border: 1px solid transparent;
}
@media screen and (max-width: 768px) {
    .avatar{
        text-align: center;
        margin-bottom: 1rem;
    }
    .content{
        h6.col-5{
            padding-left: 0;
        }
        .text {
            width: 40%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }
        .buttons{
            display: flex;
            justify-content: flex-start;
        }
    }
}
@media screen and (max-width: 599px) {
    .content{
        .text {
            width: 70%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }

    }
    // .avatar{
    //     mat-icon.status_badge{
    //         position: absolute;
    //         margin-left: 15rem;
    //         margin-top: -12rem;
    //     }
    // }
}