.content{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.doc-item{
    width: 48.5%;
    border-radius: 5px;
    display: flex;
    padding: .5rem .7rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
    img{
        width: 4.5rem;
        height: 4.5rem;
        object-fit: cover;
        padding: 5px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        padding: 5px;
    }
    .view{
        padding: .2rem .4rem;
        background: #80d48d2b;
        border-radius: 3px;
        width: fit-content;
        height: fit-content;
    }
}
@media screen and (max-width: 768px) {
    .content{
        display: flex;
        justify-content: space-between;
    }
    .doc-item{
        width: 47%;
    }
}
@media screen and (max-width: 599px) {
    .content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .doc-item{
        width: 100%;
    }
}