.mat-header-cell:first-child,.mat-cell:first-child{
    flex:10%;
    
  }
.mat-cell{
    font-size: 14px;
}
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2),
.mat-header-cell:nth-child(4),.mat-cell:nth-child(4)
{
  flex:20% !important;
}
.mat-header-cell:nth-child(3),.mat-cell:nth-child(3),
.mat-header-cell:nth-child(5),.mat-cell:nth-child(5){
  flex: 17% !important;
}
.mat-header-cell:nth-child(6),.mat-cell:nth-child(6){
    flex: 16% !important;
}

.mat-footer-row, .mat-header-row, .mat-row{
    background: #fff;
    margin-bottom: 0.3rem;
    border-radius: 4px;
    padding: 10px 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
