.cdk-overlay-pane{
    background-color: #fff !important;
    td.start-date{
        background-color: red;
    }
    
    td.in-range{ background-color: red;}
    
    td.in-range{
        background-color: red;
    }
    
    td.active{
    
    }
  }
  .mat-list-item-content{
    width: 100% !important;
  }
  